.post-wrapper {
  display: flex;
  max-width: 40rem;
  margin: 1rem auto;
}

.post-container {
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 1rem;
}

.post-votes-container {
  margin-right: 1rem;
  margin-top: 0.5rem;
  width: 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.title{
  font-size: 1.5rem;
  text-align: center;
  margin: 0.7rem;
}

.post-image-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.post-image-container img {
  width: 100%;
}

.post-selftext {
  margin: 1rem;
  max-width: 35rem;
  word-wrap: break-word;
}

.post-container a {
  color: lightgray;
  font-weight: bold;
}

.post-container a:hover {
  text-decoration: none;
  color: white;
}

.post-container a:active {
  color: gray;
}

.video-link,
.gallery-link {
  font-size: 1.5rem;
  background-color: blue;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
}

.post-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-details .author-username {
  font-weight: bold;
}

.author-username {
  font-size: 1.1rem;
  margin-left: 0.5rem;
}

.post-comment-button {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.comments {
  width: 35rem;
  margin: 0 auto;
}